* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html, body {
        font-size: 1rem;
        font-family: serif;
}
/* Header: Navbar */
.menu #click {

}
input[type="checkbox"]{
  display: none;
}

.menu .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.menu {
  display: flex;
   position:relative;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px#ccc;

}
#logo-container {
  width: 40%
}
#nav-bar {
  display: flex;
  padding: 1rem; /* to align child items in center */
  justify-content: space-between;
  text-align: right;
  width: 55%;
  padding-bottom: 16px;

}
#page-logo span {
   font-weight: 900;
   color: #27ae60;
   margin-bottom: 4px;
}
.company-logo {
  font-size: 36px;
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  padding-left:16px;
}

#nav-bar {
  text-decoration: none;

  
}
#nav-bar ul {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  
  /*justify-content: space-around;*/

}
#nav-container {
  display: flex;
  align-items: flex-end;
}
#nav-container li {
  display: inline-block;

  margin: 0 16px; /*spacing between link elements*/
}
li .nav-bar-a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  text-transform:uppercase;
}
.nav-bar-a {
  font-size: 24px;
  font-weight: 700;
  margin-left:auto;
  color: #2c3e50;
  margin: 0;
 
}
.nav-bar-a:visited  {
  color: #9b59b6
}
#nav-bar .fas {
  color: rgb(170, 210, 54);
  padding: px;
  size: 40vh;
  cursor: pointer;

}
/*-- 
  - Add navigation drawer for mobile screens
  - On mobile screen show hamburger icon
  - On hamburger icon click show the navigation drawer
*/
@media (max-width: 920px) {

  #logo-container {
    display:none;
  }
  #nav-bar {
    display: none;
  }

  #menu-bar {
    display: block;
    width: 30px;
    height: 30px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
  }
  #menu-bar #menu-lines .bar {
    height: 5px;
    width: 100%;
    background-color: #7a3e86;
    display: block;
    border-radius: 5px;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(3px); /* translateY property moves the divs down and creates space*/
  }
  /*changing the style of ham menu */

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg); /* rotating anti-clockwise*/
  }
   .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  .change #bar2 {
    opacity:0;
  }
  /*calling onto class that adds nav items to toggle */
  .change {
    display: block
  }
  
   


  }

 /* end */
/*   ---------------------------------  */
#more {
  display: none; }

.flex-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row; }

article {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10rem; }

.card-p {
  width: 10rem; }

#myBtn {
  color: coral;
  border: none; }
