
/* Admin parent box*/
.admin-parent-box {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

/* Text above input fields */
.admin-info-text {
    padding-bottom: 1.5rem;
}

/* Input fields */
.admin-input-fields {
    width: 25%;
    color: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
}

#admin-headline-input, #admin-decsrip-input, #admin-price-input {
    margin-bottom: 1rem;
}


/* Is used when image apends to ul ".admin-prd-list */
.admin-prd-list >img {
    width: 20%;
    height: 20%;
    padding: 1rem;
}

.admin-prd-list-h3 {
    font-size: 1.7rem;
} 



  