#admin-body {
    background-color: rgb(126, 126, 126);
}

/* Input fields*/

#admin-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-headline {
    padding: 10rem;
    padding-bottom: 3rem;
}

/* Buttons below input field*/ 

#admin-btns-flex {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.admin-add-btn, .admin-edit-btn, .admin-publish-btn {
    margin-top: 2rem;
    padding: 0.5rem; 
    border-radius: 0.5rem 0.5rem; 
    background-color: darkgrey; 
}

/* New products to be added, edited and published in webshop */

#admin-new-prd {
    background-color: rgb(204, 204, 204); 
    height: auto;
    padding: 2rem;
    // width: 50%;
    // display:flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
}

#index-new-prd  {
    background-color: rgb(108, 173, 64); 
    height: auto;
    padding: 2rem;
}


.admin-prd-list-h3 {
    font-size: 1.7rem;
} 