
//container for prdt cards
.index-flex-card-cntr { 
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    flex-direction: row;
    }
    
//product cards
.index-article-card { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    margin-bottom: 1rem;
    margin-left: 1rem; // added for test by AP
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-style: solid; // added for test by AP
    }

.index-card-img {
    width: 50%;
    margin: auto;
}


//Design for "add to cart"//
.index-btn-flex {
    border: 5px, black;
    padding: 6px;
    margin-top: 1rem;
    color: white;
    background-color: black;
}

//change color when hoovering over btn//
.index-btn-flex:hover { 
    background-color: white;
    color: black;
    border: 2px, black; 
}

.index-h3 {
    font-size: 13px;
}