body {
    font-family: Arial, Helvetica, sans-serif;
}

/*first flexbox*/
.cart-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #D1D1D1;
    margin: 2rem;
}

/*headlines for margin*/
.cart-checkout, .cart-cart, .cart-border{
    margin-bottom: 10px;
}

/*grey lines*/
.cart-border {
    border: 2px solid #D1D1D1;
}

/*the log for logotype on shoppingcart headline*/
.cart-logo {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*the text NAIL CITY*/
.cart-logo span{
    font-weight: 800;

}

.cart-logo > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;

}
/*button for 'go to payment'*/
#cart-button {
    background-color: black;
    color: white; 
    padding: 6px;
    margin-top: 1rem;
}
/*button that changes color when hoovering*/
#cart-button:hover {
    background-color: white;
    color: black; 
    border: 2px solid black;
    

}
#cart-grey-lines {
    width: 20rem;
}

