
/* Header */
#header {
    padding: 0.5rem;
    padding-left: 2rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.icon {
    color: black;
}


/* Items in nav bar */ 
.nav-bar-a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;  
}

#header-logo {
    padding-left: 1.5rem;
    padding-right: 2rem;
    order: -1;
}


/* Cart in nav bar */

.fa-shopping-cart {
    padding-right: 2rem;
}


#cart-wrapper {
    padding: 0.8rem;
    color: white;
    background-color: white;
    position: absolute;
    right: 2rem;
}

#cart-wrapper > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-right: 0.5rem;
}

#cart-wrapper i {
    font-size: 18px;
    cursor: pointer;
}


