
/* Mother to login form */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: lightgrey;
}

/* Daughter to container */
.login-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 13rem; 
}

/* Image to avatar */
.login-avatar {
    width: 40%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: 12px 0 12px 57px;
}

/* Classes for label to input fields */
.login-name, .login-password {
    display: flex;
    margin: 3.5px;
}

/* The whole form */
#login-form_id {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Button for login */
#login-submit {
    margin: 0.2rem;
    background-color: #4CAF50;
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0;
    border: none; 
}


/* Button for hover */
#submit:hover { 
    opacity: 0.8;
}


