
/* Responsiveness for screens 600px and smaller */
@media screen and (max-width: 600px) {

    /* Hide all links. Show the link that contains should open and close the topnav (.icon) */
    .topnav a {
    display: none;
    }

    .topnav a.icon {
      float: right;
      display: flex;
      flex-direction: inherit;
    }

    .icon {
    color: white;
    display: none;
    }


    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive { 
        position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .icon {
      color: white;
    }

    .topnav.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
  

    /* Font size on blog posts p on start.html for mobile */
    #start-hero-text {
    padding: 2rem;
    font-size: 2rem;	        
    }

    /* Margins for startpage */
    #start-blog {
        margin: 0.5rem;
        height: 5rem;
    }

    /* Margins on admin page */
    .admin-input-fields {
        width: 100%;
        margin: 2rem;
    }

    #start-new-products {
      margin-top: 93rem;
    }
    #start-new-products-headline {
      font-size: 2.6rem;

    }
    #start-blog-posts-p{
      font-size: 0.8rem;
    }

    /* Footer */
    #footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .footer-nav, .footer-social {
        display: none;
    }
    /* Brands on product site */
    .index-headline-brand {
      margin: 1.2rem;
      font-size: 0.7rem;
    }
  
}
